<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  template="/WEB-INF/templates/template.xhtml">

  <ui:define name="metadata">
    <f:metadata>
      <f:viewParam id="taskId" name="taskId" />
      <f:viewParam id="callbackUrl" name="callbackUrl" />
      <f:event type="preRenderView"
        listener="#{fox.taskForm.startTask(taskId, callbackUrl)}" />
    </f:metadata>
  </ui:define>

  <ui:define name="content">
    <div class="row">
      <h:form id="checkDocumentsTaskForm" styleClass="well span4">
      	<legend>Please handle this duplicate!</legend>
        <label>First name<h:inputText disabled="true" id="firstname" value="#{processVariables['firstname']}" /></label>
        <label>Last name<h:inputText disabled="true" id="lastName" value="#{processVariables['lastname']}" /></label>
        <label>Account type<h:inputText disabled="true" id="accountType" value="#{processVariables['accounttype']}" /></label>
        <h:commandButton id="submit_button" styleClass="btn btn-primary"
          value="Submit" action="#{fox.taskForm.completeTask()}" />
      </h:form>
    </div>
  </ui:define>

</ui:composition>
