<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">
  
<h:head>
	<title>Remote Task List</title>
</h:head>
<h:body>
    <h1>Task list showing tasks of remote process engine</h1>
    <h:dataTable value="#{tasklistExtension.tasksOfRemoteProcesses}" var="currentTask">
			<h:column>
				<f:facet name="header">Task Name</f:facet>#{currentTask.name}
			</h:column>
			<h:column>
				<f:facet name="header">Process</f:facet>#{currentTask.processDefinitionName}
			</h:column>
			<h:column>
				<f:facet name="header">Created</f:facet>#{currentTask.created}
			</h:column>
			<h:column>
				<f:facet name="header">Assignee</f:facet>#{currentTask.assignee}
			</h:column>
			<h:column>
				<f:facet name="header">Actions</f:facet>
					<h:outputLink value="#{tasklistExtension.getFormUrl(currentTask)}">go to form &#187;</h:outputLink>
			</h:column>
		</h:dataTable>
</h:body>
</ui:composition>