<div class="container">

	<h1>Kfz Versicherung beantragen</h1>

	<form class="form-horizontal">
		<div class="row-fluid">
			<div class="span6">
				<div class="page-header">
					<h3>Pers&ouml;nliche Angaben</h3>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputName">Name</label>
					<div class="controls">
						<input type="text" id="inputName" placeholder="Name"
							required="required" /> <span class="help-inline"
							id="inputName-error" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Email</label>
					<div class="controls">
						<input type="email" id="inputEmail" placeholder="Email"
							required="required" /> <span class="help-inline"
							id="inputEmail-error" />
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="page-header">
					<h3>Angaben zum Fahrzeug</h3>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputBrand">Marke</label>
					<div class="controls">
						<input type="text" id="inputBrand" placeholder="VW" max="25"
							min="2" required="required" /> <span class="help-inline"
							id="inputBrand-error" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputYearOfManufacture">Baujahr</label>
					<div class="controls">
						<input type="number" id="inputYearOfManufacture"
							placeholder="2008" required="required" /> <span
							class="help-inline" id="inputBrand-error" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						 <input type='button' class="btn btn-primary" name="submit" value="Beantragen"
                   disabled="true"/>
					</div>
					<div id="request-summary"></div>
				</div>				
			</div>
		</div>
	</form>




</div>
