<div data-role="header">
    <a data-role="button" data-icon="home" href="#">Home</a>
    <h3>Products</h3>
</div>
<div data-role="content" id='itemMenu'>
    <div id='categoryMenu' data-role='listview' data-filter='true' data-filter-placeholder='Produkt ...'>
        <%
        _.each(categories, function (category) {
        %>
        <li>
         
          <a href="#products/<%=product.attributes.nid%>"><%=model.attributes.name%></a>
              
        </li>
        <% }); %>
    </div>
</div>