<div class="container" class="well">
	<div class="span9">

		<div class="row-fluid">
			<div class="span12">
				<h2 class="special-title light-font">Antragsstellung
					erfolgreich</h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">Der Antrag wurde erfolgreich
				gespeichert und wird unter der Vorgangsnummer <%= model.requestId %>
				bearbeitet.</div>

		</div>

	</div>
</div>