<div class="container well">
	
	<div class="hero-unit">
		<div class="row">

			<img src="resources/img/icon_rgb.png"
				style="float: left; margin-right: 30 px;" />
			<p>
			<h1 class="special-title">fox insurance magic.</h1>
			</p>
			<p>
			<h1 class="special-title">a camunda fox showcase.</h1>
			</p>
			<p style="clear:left; padding-top: 10px;">Learn how to build BPM enabled enterprise applications and
				experience the magic union of BPM, Java and the Web.</p>

			<p>
				<a class="btn btn-primary" href="#products">Get insurance now</a>
			</p>
		</div>
	</div>

</div>
