<div class="container">

	<h1>Berufsunf&auml;higkeitsversicherung beantragen</h1>

	<form class="form-horizontal">
		<div class="row-fluid">
			<div class="span6">
				<div class="page-header">
					<h3>Pers&ouml;nliche Angaben</h3>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputName">Name</label>
					<div class="controls">
						<input type="text" id="inputName" placeholder="Name"
							required="required" /> <span class="help-inline"
							id="inputName-error" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">Email</label>
					<div class="controls">
						<input type="email" id="inputEmail" placeholder="Email"
							required="required" /> <span class="help-inline"
							id="inputEmail-error" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputJob">Beruf</label>
					<div class="controls">
						<input type="text" id="inputJob"
							required="required" /> <span class="help-inline"
							id="inputJob-error" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inutDateOfBirth">Geburtsjahr</label>
					<div class="controls">
						<input type="text" id="inutDateOfBirth"
							required="required" /> <span class="help-inline"
							id="inutDateOfBirth-error" />
					</div>
				</div>
			</div>
			<div class="span6">
				<div class="page-header">
					<h3>Angestrebte Konditionen</h3>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputMonthlyPayment">Monatlicher Beitrag</label>
					<div class="controls">
						<input type="text" id="inputMonthlyPayment" max="25"
							min="2" required="required" /> <span class="help-inline"
							id="inputMonthlyPayment-error" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputResult">Ergebnis</label>
					<div class="controls">
						<input type="number" id="inputResult"
							 required="required" /> <span
							class="help-inline" id="inputResult-error" />
					</div>
				</div>				
				<div class="control-group">
					<div class="controls">
						 <input type='button' class="btn btn-primary" name="submit" value="Beantragen"
                   disabled="true"/>
					</div>
					<div id="request-summary"></div>
				</div>				
			</div>
		</div>
	</form>




</div>
