<div class="container">
	<div class="span9">
	
		<div class="row-fluid">
			<ul class="thumbnails">
				<% _.each(model.models, function (product) { %>


				<li class="span4">
					<div class="thumbnail">
						<img alt="" src="resources/images/<%=product.attributes.nid%>.jpg">
						<div class="caption">
							<h3><%=product.attributes.name%></h3>
							<p><%=product.attributes.description%></p>
							<p>
								<a class="btn" href="#products/<%=product.attributes.nid%>">Jetzt beantragen</a>
							</p>
						</div>
					</div>
				</li> <% }); %>
			</ul>
		</div>
	</div>
</div>