<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>fox insurance magic</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<h:outputStylesheet name="css/bootstrap.css" />
	<h:outputStylesheet name="css/responsive.css" />

	<h:outputScript name="js/bootstrap.js" />
	<h:outputScript name="js/jquery.js" />

	<!-- 
    <h:outputScript name="js/bootstrap-datepicker.js"/> 
    <h:outputScript name="js/bootstrap-datepicker.de.js"/>
     -->

	<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>

</h:head>
<h:body>
	<ui:insert name="metadata" />

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid" style="padding: 0;">
				<a class="brand" style="float: right" href="#">fox insurance
					magic</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=""><a href="desktop-index.jsf">Neue Anträge</a></li>
						<li class=""><a href="/tasklist/">Tasklist</a></li>
						<li class=""><a href="dashboard.jsf">Dashboard</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<ui:insert name="content">Main content</ui:insert>

		<hr />

		<footer>
		<p>
			powered by <a href="http://www.camunda.com/fox/">camunda fox</a>
		</p>
		</footer>

	</div>

	<h:outputScript name="js/bootstrap-tab.js" />
</h:body>
</html>