<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>It worked</title>
</h:head>

<h:body>
	<p>Logged in user info: <h:outputText value="#{jaasIdentity.info}" /></p>
</h:body>

</html>
