<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">
	<ui:define name="metadata">

		<script type="text/javascript" src="atmosphere/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="atmosphere/jquery.atmosphere.js"></script>
		<script type="text/javascript" src="atmosphere/application.js"></script>

	</ui:define>

	<ui:define name="content">

		<div class="container">

			<h1>Dashboard</h1>
			
			<h3>Go to: http://goo.gl/kaVwM !</h3>
			
			<div  id="processDiagram" style="position: relative;">
				<img src="processDiagram?processDefinitionKey=newTpdInsurance" />
			</div>

		</div>

	</ui:define>
</ui:composition>