<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">
	<ui:define name="metadata">

		<script data-main="resources/js/main-desktop"
			src="resources/js/libs/require.js"></script>


	</ui:define>

	<ui:define name="content">
		<div id="container">
			<div id="content" class="container-fluid"></div>
		</div>
	</ui:define>

</ui:composition>