<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam id="taskId" name="taskId" />
			<f:viewParam id="callbackUrl" name="callbackUrl" />
			<f:event type="preRenderView"
				listener="#{fox.taskForm.startTask(taskId, callbackUrl)}" />
		</f:metadata>
	</ui:define>

	<ui:define name="content">

		<div class="container">

			<h1>Versicherung beantragen</h1>

			<h:form class="form-horizontal">
				<div class="row-fluid">
					<div class="span6">
						<div class="page-header">
							<h3>Manuelle Antragspruefung</h3>
						</div>

						<table>
							<tr>
								<td>Name</td>
								<td>#{currentApplication.name}</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>#{currentApplication.email}</td>
							</tr>
							<tr>
								<td>Geburtsjahr</td>
								<td>#{currentApplication.dateOfBirth}</td>
							</tr>
							<tr>
								<td>Beruf</td>
								<td>#{currentApplication.job}</td>
							</tr>
							<tr>
								<td>Monatliche Zahlung</td>
								<td>#{currentApplication.monthlyPayment}</td>
							</tr>
							<tr>
								<td>Ergebnis</td>
								<td>#{currentApplication.result}</td>
							</tr>
						</table>

						<div class="control-group">
							<label class="control-label">Antrag Annehmen?</label>
							<div class="controls">
								<h:selectBooleanCheckbox value="#{manualApprovalController.approved}" />								
							</div>
						</div>


						<div class="control-group">
							<div class="controls">

								<h:commandLink value="done" class="btn btn-primary"
									action="#{fox.taskForm.completeTask()}" />

							</div>
						</div>
					</div>
				</div>
			</h:form>
		</div>

	</ui:define>
</ui:composition>