<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  template="/WEB-INF/templates/template.xhtml">

  <ui:define name="metadata">
    <f:metadata>
      <f:viewParam id="callbackUrl" name="callbackUrl" />
      <f:viewParam id="taskId" name="taskId" />
      <f:event type="preRenderView"
        listener="#{pageflowBean.setCallbackUrl(callbackUrl)}" />
      <f:event type="preRenderView"
        listener="#{pageflowBean.setTaskId(taskId)}" />
    </f:metadata>
  </ui:define>

  <ui:define name="form-title">Enter Risk Indicators</ui:define>

  <ui:define name="form-content">

    <label>Some String: <h:inputText
        value="#{pageflowBean.someString}" />
    </label>

  </ui:define>

</ui:composition>