@charset "UTF-8";

#logo {
   background: url(../img/bg-red.png) repeat scroll 0 0 transparent; 
}
#logo .wrap {
    background: url(../img/banner.png) no-repeat scroll 0 0 transparent;
    height: 90px;
    margin: 0 auto 0px;
    padding: 0;
    text-align: center;
    width: 959px;
}
#logo h1 {
    display:none;
}

