<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">	
<ui:define name="content">

	<f:metadata>
		<f:viewParam name="taskId" />
		<f:event type="preRenderView" listener="#{businessProcess.startTask(taskId, true)}" />            
   	</f:metadata>
	
	<h2>#{task.name}</h2>
	
	<h:form>
		<table>
				<tr>
					<td>Company:</td>
					<td>#{orderEntity.customer.company}</td>
					<td></td>
				</tr>
				<tr>
					<td>Amount:</td>
					<td>#{orderEntity.amount}</td>
					<td></td>
				</tr>
				<tr>
					<td>Discount:</td>
					<td>#{orderEntity.discount}</td>
					<td></td>
				</tr>

				<tr>
					<td style="font-weight: bold;">Is this order OK?</td>
					<td><h:selectBooleanCheckbox id="valid" 
					             value="#{processVariables['orderApproved']}" 
					             required="true" /></td>
					<td><h:message for="valid"/></td>
				</tr>								
				<tr>
				    <td />
					<td><h:commandButton action="#{businessProcess.completeTask(true)}" value="done" type="submit" /></td>
				</tr>
		</table>
	</h:form>
</ui:define>
</ui:composition>
