<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
  <title>camunda fox - page flow generator demo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <h:outputStylesheet name="css/bootstrap.css" />
  <style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>
  <h:outputStylesheet name="css/responsive.css" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</h:head>

<h:body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">camunda fox - page flow generator
          demo</a>
      </div>
    </div>
  </div>

  <hr />
  <div class="container-fluid">
    <div id="content">
      <div class="row">
        <!-- Form Title -->
        <h1 class="span4 offset4">
          <ui:insert name="form-title" />
        </h1>
      </div>
      <div class="row">
        <h:form id="demo" styleClass="well span3 offset4">
          <!-- Form Content -->
          <ui:insert name="form-content" />
          <!-- Navigation Buttons -->
          <ui:repeat value="#{pageflowBean.navigationCases}" var="item">

            <h:panelGroup rendered="#{item.fromAction != null and item.fromOutcome.contains('CALL-ACTIVITY:')}">
              <h:commandLink styleClass="btn" value="Start Flow!"
                action="#{pageflowBean.execute(item.fromOutcome)}" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{item.fromAction != null and item.fromOutcome.contains('END-EVENT')}">
              <h:commandLink styleClass="btn" value="Finish!"
                action="#{pageflowBean.execute(item.fromOutcome)}" />
            </h:panelGroup>
            
            <h:panelGroup rendered="#{item.fromAction != null and item.fromOutcome.contains('SERVICE-TASK:')}">
              <h:commandLink styleClass="btn" value="Start Process!"
                action="#{pageflowBean.execute(item.fromOutcome)}" />
            </h:panelGroup>

            <h:panelGroup rendered="#{item.fromAction == null}">
              <h:commandLink styleClass="btn"
                value="#{item.fromOutcome}"
                action="#{pageflowBean.next(item.fromOutcome)}" />
            </h:panelGroup>

          </ui:repeat>
        </h:form>
      </div>
    </div>

    <hr />

    <footer>
      <p>
        powered by <a href="http://www.camunda.com/fox/">camunda fox</a>
      </p>
    </footer>

  </div>
  <!--/.fluid-container-->

  <script src="#{resource['js/jquery.js']}"></script>
  <script src="#{resource['js/bootstrap-transition.js']}"></script>
  <script src="#{resource['js/bootstrap-alert.js']}"></script>
  <script src="#{resource['js/bootstrap-modal.js']}"></script>
  <script src="#{resource['js/bootstrap-dropdown.js']}"></script>
  <script src="#{resource['js/bootstrap-scrollspy.js']}"></script>
  <script src="#{resource['js/bootstrap-tab.js']}"></script>
  <script src="#{resource['js/bootstrap-tooltip.js']}"></script>
  <script src="#{resource['js/bootstrap-popover.js']}"></script>
  <script src="#{resource['js/bootstrap-button.js']}"></script>
  <script src="#{resource['js/bootstrap-collapse.js']}"></script>
  <script src="#{resource['js/bootstrap-carousel.js']}"></script>
  <script src="#{resource['js/bootstrap-typeahead.js']}"></script>

</h:body>
</html>
